.page-not-found{
    padding-top: 8.5rem;
    font-size: 2em;
    margin: auto;
    text-align: center;
}
.img-404{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}
.page-text{
    font-size: 1.5em;
}
.home-link{
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight:400;
    color:#FFFFFF;
    background-color: #3A4750;
    font-family:'Roboto',sans-serif;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
}