/* TODO: fill in CSS for User page */
.userpage-container{
    padding-top: 8.5rem;
    height: 100%;
    height: 100%;
    background-color: #303841;
    width: 100%;
    display: flex;
    align-items: column; 
}
.user-profile-bar {
    width: 30%;
    background-color: #3A4750;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    position : relative;
}

.user-profile-type {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.user-profile-content {
    font-size: 1.25rem;
    display: flex;
    width: 80%;
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
}

.user-profile-email {
    font-size: 1.25rem;
}

.user-profile-bio {
    font-size: 1.25rem;
    width: 80%;
    color: white;
}

.user-profile-pic {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.setting-buttons {
    max-width: 420px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10rem;
}

.playlist-link{
    background-color: white;
    color: black;
    font-family: 'Noto Sans', Arial;

}

.edit-profile {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: #2185D5;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 6px;
}

.reset-password {
    width: 45%;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #929AAB;
}

.playlist-link {
    background-color: #303841;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.video-playlist-bar {
    width: 69%;
    /* height: 100%; */
    padding: 3%;
}

.video-playlist-content {
    height: 55%;
}

.video-playlist-button {
    background-color: #2185D5;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    border-radius: 6px;
    width: 25%;
}

.video-playlist-bt {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
}

@media screen and (min-width: 1224px) {
    .user-profile-pic{
        width: 20rem;
        height: 20rem;
    }
}

